@import "variables";


.profileMain{

    margin-top: 60px;
    
    .profile{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 935px;
        padding: 40px 0px;

        .photo{
            height: 53px;
            width: 100%;
            border-top: 1px solid $border-color-grey ;
        }
    }

}